PORT=4000
MONGODB_URI=mongodb://localhost:27017/zero-os
JWT_SECRET=replace_this_with_strong_secret
JWT_EXPIRES_IN=7d
COOKIE_SECURE=false
RESEND_API_KEY=
EMAIL_FROM=Zero OS <>
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_ORIGIN=http://localhost:3000
GOOGLE_CLIENT_ID=
